<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> et bienvenue chez nous !</h1>
    <p>
      Tu t'es inscrit sur  <a href="https://front-keella.vercel.app/">keella</a> en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Pour accéder à ton espace client, <a href="https://front-keella.vercel.app/sign-in">connecte-toi</a>.
    </p>
    <p> À très vite sur keella !
  </body>
</html>
